* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
.nav{
    width: 100%;
    height: 10vh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.box{
    height: 20vh;
    width: 100px;
    background-color: blueviolet;
}
.container{
    
}
@media (max-width:740px) {
    nav h1{
        font-size: 15px;
    }
}
