* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: lightblue;
}
.nav{
     width: 100%;
     height: 10vh;
     position: fixed;
     z-index: 999;
     background-color:lightblue;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
}
.nav i{
  font-size: 25px;
  color:black;
}
.nav p{
  font-size: 25px;
  font-weight: 500;

}
@media(max-width:740px){
  .nav i{
    font-size: 25px;
  }
  .nav p{
    font-size: 25px;
  }
}
.wrapper{
    width: 100%;
    position: relative;
     display: flex;
     flex-direction: column;
}
.hero{
    width: 100%;
    height: 30vh;
    padding: 20px 20px;
}
.hero h1{
  font-size: 40px;
  margin-top: 10vh;
}
.hero  p{
  font-size: 30px;
}
.hero input{
      height: 5vh;
      width: 40%;
      margin-top: 20px;
      border-radius: 50px;

}
.card{
  width: 100%;
  height: 25vh;
  margin-top: 20px;
  font-size: 20px;
  gap: 20px;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
  border: 2px solid black;
}
.cardh{
  width: 50%;
  font-size: 25px;
  padding: 40px 50px;
}
.cardimg{
  width: 50%;
  display: flex;
  align-items:end;
  justify-content: end;
}
.card img{
  height: 25vh;
  width:100%;
  object-fit:cover;
  overflow: hidden;

}
.wrapper h4{
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
}
.box{
  width: 100%;
  height: 60vh;
  margin-top: 20px;
  background-color: beige;
}
.boxes{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.sabbox{
  width: 50%;
  height: 50%;
  background-color: burlywood;
}
