.wrapper{
    width:100%;
    height: 100%;
       background-color: black;
}
.instacontainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color:darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    height: 100%;
    width: 20%;
    background-color: blue;
    position: fixed;
}
.right{
    height: 100%;
    width: 80%;
    position:fixed;
    background-color: pink;
}
.topnav{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: crimson;
}
.bottomnav{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: green;
    top: 10%;
}
.post{
     height: 80%;
     width: 100%;
     background-color: darkslateblue;
     position: fixed;
     bottom: 0%;
}

.nav{
    height: 10vh;
    width: calc(100/2)
    background-color: aqua;
    display: flex;
    align-items: center;
}
.navleft{
         height:10vh;
         display: flex;
         align-items: center;
       background-color: beige;
}
.navleft input{
    width: 30%;
    height: 40%;
    border-radius: 20px;
    padding-left: 20px 10px;
    border: none;

}
.navright{
    height:10vh;
    background-color: indigo;
}